/* Footer.css */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0c0c0c; /* Adjust the background color to match the image */
    color: #ffffff; /* Text color */
    font-size: 1rem; /* Adjust the font size */
 
    bottom: 0;
    width: 100%;
  }
  