p {
  color: white !important;
}

.top-text{
  line-height: 0.1;
  font-weight: normal;
}

.text-small {
  font-size: 14px;
}

.text-large {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
}

.text-blue{
  color: #2EA6DA;
}

.description {
  font-size: 14px;
}

.top-text-right{
  font-size: 14px;
  text-align: right;
}

.start-left{
  text-align: left;
}

.dog-image{
  width: 80%;
  height: auto;
  z-index: 2; /* Ensure balla.png is on top */
  position: relative;
  right: -10%;
}

.Ellipse-image{
  position: absolute;
  top: 15%;
  width: 30%;
  height: auto;
  z-index: 1; /* Ensure Ellipse.png is under balla.png */
  right: 0%;
}