.goals-card {
  background-color: #262626;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  width: 50%;

}

.goals-title {
  color: #00aaff;
  font-size: 50px;
  font-weight: bold;
}

.goals-text {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 576px) {
  .goals-card {
    padding: 15px 20px;
  }

  .goals-title {
    font-size: 1.5rem;
  }

  .goals-text {
    font-size: 1rem;
  }
}